*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
   
    position: absolute;
   
}
.heading{
   
    text-align: center;
    padding: 50px 0px;
    font-size:2em;
}
.content{
    
    position: absolute;
   left:5% ;
   right: 5%;
    height: 100vh;
    width: 90%;
   
    
}
.box{
    position: relative;
    float: left;
    /* width: 100%; */
    min-height:500px;
    background-color: rgb(110, 110, 108);
    margin:11.2px 11.2px;
    padding: 20px;
    border: 5px solid black;
}
h3{
    /* float: right; */
    display: block;
    border-left: 5px solid black;
    border-bottom: 5px solid black;
    position: absolute;
    top: 0%;
    right: 0%;
    padding:0 50px;
    background-color: blanchedalmond;
    font-size:1.5em;
}
.box p{
    position: relative;
    top: 30px;
    font-size: 1.2em;
    font-weight: bold;
    color: white;
}
@media (min-width:992px){
 .box{
     width: 30%;
     float: left;
 }
}
@media (min-width:768px) and (max-width:991px){
 .tablet{
     width: 45%;
 }
 #box-3{
     width: 93%;
     /* margin: 12px; */
}
}
@media (max-width:767px){
 .mobile{
     width: 100%;
 }
 
}
